
body{
    padding: 50px 200px;
   background-color: blanchedalmond;
   padding: 50px 50px 400px 400px;
   
   
}
body li{
    color: black;
   
}
body ol{
    color: black;
    
   
}
ol li{
    color:blue;
    text-decoration: none;  
    
   
}
body ul{
    color: black;
    text-align:start;
    
   
}
ul li{
    color: blue;
   
}